{% extends "layout.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block sensorOne %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>CO2</th>
            <th>ºC</th>
            <th>% H</th>
            <th>Tiempo</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurementsOne %}
            <tr>
                <td>{{ measurement.co2 }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block sensorTwo %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>CO2</th>
            <th>ºC</th>
            <th>% H</th>
            <th>Tiempo</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurementsTwo %}
        <tr>
            <td>{{ measurement.co2 }}</td>
            <td>{{ measurement.temperature }}</td>
            <td>{{ measurement.humidity }}</td>
            <td>{{ measurement.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block sensorThree %}
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>CO2</th>
            <th>ºC</th>
            <th>% H</th>
            <th>Tiempo</th>
        </tr>
    </thead>
    <tbody>
        {% for measurement in measurementsThree %}
            <tr>
                <td>{{ measurement.co2 }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.humidity }}</td>
                <td>{{ measurement.time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}